target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
.idea/
*.iml
*.ipr
*.iws
.project
.classpath
.settings/
.mvn/
mvnw
mvnw.cmd
.mvn/
maven.zip
apache-maven-3.9.6/
.DS_Store
*.log
*.class
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar
.hsqldb
.db
*.swp
*.bak
*.tmp
.vscode/
